<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="iop.org.voting_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="21" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".ApplicationController"
        android:allowBackup="false"
        android:icon="@mipmap/ic_laucher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.ForumActivity"/>

        <activity android:name=".ui.ProfileActivity" />
        <activity android:name=".SettingsActivity"
            android:theme="@style/PreferenceScreen" />

        <activity android:name=".ui.VotingExportActivity"/>
        <activity android:name=".ui.DevActivity" android:theme="@style/PreferenceScreen" />
        <service android:name="iop.org.iop_contributors_app.services.BlockchainServiceImpl"/>

        <activity android:name=".ui.VotingStartActivity" android:theme="@style/AppTheme.VotingCenterAnimation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.VotingProposalsActivity" android:launchMode="singleInstance"/>
        <activity android:name=".ui.VotingProposalActivity"/>
        <activity android:name=".ui.VotingMyVotesActivity" android:launchMode="singleInstance"/>
        <activity android:name=".ui.VotingVoteSummary"/>

        <activity android:name="iop.org.iop_contributors_app.ui.BalanceActivity"/>
        <activity android:name="iop.org.iop_contributors_app.ui.TransactionsActivity"/>



    </application>

</manifest>