<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iop.org.iop_contributors_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="21" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".ApplicationController"
        android:allowBackup="false"
        android:icon="@drawable/ic__launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.ForumActivity"
           >
        </activity>
        <activity android:name=".ui.ProfileActivity" />
        <activity android:name=".ui.SettingsActivity"
            android:theme="@style/PreferenceScreen"

            />
        <!--<activity android:name=".ui.StartActivity" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data android:scheme="http"-->
                    <!--android:host="fermat.community" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity android:name=".ui.OnboardingWithCenterAnimationActivity" android:theme="@style/AppTheme.CenterAnimation">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            </activity>

        <activity android:name=".ui.CreateProposalActivity" />
        <activity android:name=".ui.ProposalSummaryActivity"/>
        <activity android:name=".ui.ProposalsActivity" android:launchMode="singleInstance"/>
        <activity android:name=".ui.settings.IoPBalanceActivity"
            />

        <activity android:name=".ui.settings.DevActivity" android:theme="@style/PreferenceScreen"/>

        <!--<service android:name=".services.ProfileServerService"/>-->
        <service android:name=".services.BlockchainServiceImpl"/>

        <!--  Voting app -->


        <activity android:name=".ui.voting.VotingStartActivity" android:theme="@style/AppTheme.VotingCenterAnimation">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ui.voting.VotingProposalsActivity"/>
        <activity android:name=".ui.voting.VotingProposalActivity"/>
        <activity android:name=".ui.voting.VotingMyVotesActivity"/>
        <activity android:name=".ui.voting.VotingVoteSummary"/>


    </application>

</manifest>